# PlatformIO
.pio/
.pioenvs/
.piolib/
*.bin
*.elf
!firmware/.pio/
firmware/.pio/

# Android
.gradle/
build/
app/build/
local.properties
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore

# IDE
.idea/
*.iml
.vscode/
*.swp

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
Thumbs.db
.DS_Store
